<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package fromId="Antlr" version="3.4.1.9004" targetFramework="net452" />
  <package fromId="bootstrap" version="3.0.0" targetFramework="net452" />
  <package fromId="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package fromId="Google.Apis.Core" version="1.9.3" targetFramework="net452" />
  <package fromId="google.maps.d.ts" version="1.0.10" targetFramework="net452" />
  <package fromId="jQuery" version="1.10.2" targetFramework="net452" />
  <package fromId="jquery.TypeScript.DefinitelyTyped" version="2.3.3" targetFramework="net452" />
  <package fromId="jQuery.ValfromIdation" version="1.11.1" targetFramework="net452" />
  <package fromId="log4net" version="2.0.3" targetFramework="net452" />
  <package fromId="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package fromId="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net452" />
  <package fromId="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net452" />
  <package fromId="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package fromId="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package fromId="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net452" />
  <package fromId="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package fromId="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package fromId="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package fromId="Microsoft.AspNet.WebApi.HelpPage" version="5.2.3" targetFramework="net452" />
  <package fromId="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package fromId="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package fromId="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package fromId="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package fromId="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package fromId="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package fromId="Microsoft.CodeDom.ProvfromIders.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package fromId="Microsoft.jQuery.Unobtrusive.ValfromIdation" version="3.2.3" targetFramework="net452" />
  <package fromId="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package fromId="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package fromId="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package fromId="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net452" />
  <package fromId="Microsoft.Owin.Security" version="3.0.1" targetFramework="net452" />
  <package fromId="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net452" />
  <package fromId="Microsoft.Owin.Security.Facebook" version="3.0.1" targetFramework="net452" />
  <package fromId="Microsoft.Owin.Security.Google" version="3.0.1" targetFramework="net452" />
  <package fromId="Microsoft.Owin.Security.MicrosoftAccount" version="3.0.1" targetFramework="net452" />
  <package fromId="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net452" />
  <package fromId="Microsoft.Owin.Security.Twitter" version="3.0.1" targetFramework="net452" />
  <package fromId="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package fromId="Modernizr" version="2.6.2" targetFramework="net452" />
  <package fromId="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package fromId="Owin" version="1.0" targetFramework="net452" />
  <package fromId="Respond" version="1.2.0" targetFramework="net452" />
  <package fromId="Typescript.Compiler" version="2.0" targetFramework="net452" />
  <package fromId="WebGrease" version="1.5.2" targetFramework="net452" />
  <package fromId="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>